
*{
    font-family: "Poppins", sans-serif;
}

    
.nav-item a{
 color: #F28482;;
}
#boton-yo{
background-color: #F28482;
}
.nav-item a:hover{
    color: #84A59D;
}
#foto{
    border-radius: 49%;
}
#boton1{
    background-color:#F28482;
    border-color:#F28482;
 }
.feature-icon .bi{
    background-color: #F7EDE2;
    color: #F28482;
    border-color: #F28482;
    height: 70px;
    width: 70px;
    font-size: 1.5cm;
    border-radius: 50px; 
}
#featured-3{
    background-color: #F7EDE2;
    height: 450px;
    border-radius: 25px;
}
#b{
    border-color: #F28482;
    color: #F28482;
}
footer{
    background-color: #F7EDE2;
}
footer .icone-footer i{
    color:#F28482;
}
footer p{
    color: #F28482;
}
footer p a{
    color: #F28482;
    text-decoration: none;
}